languages/
.sass-cache
*.txt
*.ico
.gitignore
.htaccess
.DS_Store
.svn
.cvs
sitemap.xml
sitemap.xml.gz
.htaccess

tmp/*
index.php
*.bak
*.tmp
*.swp
*.log
*.txt

*.zip
*.rar
*.7z

##Images
*.jpg
*.gif
*.png
*.bmp
